.submit {
    height: 50px;
    width: 200px;
    background-color: #ff0000; /* Red */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 0 5px #777;
}

.submit:hover {background-color: #cf0000}

.submit:active {
  background-color: #cf0000;
  box-shadow: 0 0px #666;
  transform: translateY(5px);
}

.name_button {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.name_dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .name_button {
  background-color: #3e8e41;
}