.node-hybrid {
    height: 60px;
    width: 60px;
    background-color: #777;
    border-radius: 20%;
    margin-right: 50px;
    border-style: none;
    align-items: center;
}

.auto {
    margin-left: 300px;
}

.auto h1{
    margin-left: 345px;
    margin-bottom: 50px;
    font-size: 48px;
}

.start {
    margin-top: 10px;
    margin-left: 330px;
    height: 50px;
    width: 300px;
}

.start h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
}

.start label {
    position: relative;
}

.start label input {
    display: none;
}

.start label span {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 24px;
}

.layout {
    margin-top: 10px;
    margin-left: 250px;
    height: 50px;
    width: 300px;
}

.layout h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 125px;
    margin-left: 135px;
}

.none {
    height: 35px;
    width: 35px;
    margin: 10px;
    background-color: #777;
    border: none;
    padding: 10px;
    border-radius: 20%;
    align-items: center;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    
}
.start label input:checked ~ span.none{background-color: #ff0000;}

.cube {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-color: #777;
    border: none;
    padding: 10px;
    border-radius: 20%;
    align-items: center;
}
.start label input:checked ~ span.cube{background-color: #b0f;}

.cone {
    height: 40px;
    width: 40px;
    margin: 10px;
    background-color: #777;
    border: none;
    padding: 10px;
    border-radius: 100%;
    align-items: center;
}
.start label input:checked ~ span.cone{background-color: #ff0;}

.charge {
    position: absolute;
    margin-top: 75px;
    margin-left: 440px;
    text-align: center;
}

.charge label {
    position: relative;
}

.charge label input {
    display: none;
}

.charge label input:checked ~ span{
    background-color: #999;
    border: 5px solid #ffa600;
    box-shadow: 0 0px #666;
    transform: translateY(10px);
}

.charge label span {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 24px;
}

.left {
    width: 200px;
    height: 100px;
    line-height: 100px;
    background: #ff0000;
    color: white;
    border: 5px solid #ff0000;
    text-align: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 10px #777;
}
.left:hover {background-color: #cf0000;}

.mid {
    width: 200px;
    height: 100px;
    line-height: 100px;
    background: #ff0000;
    color: white;
    border: 5px solid #ff0000;
    text-align: center;
    box-shadow: 0 10px #777;
}
.mid:hover {background-color: #cf0000;}

.right {
    width: 200px;
    height: 100px;
    line-height: 100px;
    background: #ff0000;
    color: white;
    border: 5px solid #ff0000;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 10px #777;
}
.right:hover {background-color: #cf0000;}

.next {
  height: 50px;
  width: 200px;
  margin: auto;
  background-color: #ff0000; /* Red */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 5px #777;
  transform: translate(1170px, 290px);
}

.next span {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 28px;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next:hover {background-color: #cf0000}

.next:active {
  background-color: #cf0000;
  box-shadow: 0 0px #666;
  transform: translate(1170px, 300px);
}

.next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next:hover span {
  padding-right: 25px;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}