.commentarea {
    background-color: #dddddd;
    color: #2a2a2a;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: solid;
    font-size: 16px;
    width: 750px;
    height: 165px;
    font-family: Geneva, Segoe UI, Verdana, sans-serif;
    resize: none;
}

.submit {
    height: 50px;
    width: 200px;
    background-color: #ff0000; /* Red */
    border: none;
    color: white;
    float: right;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 0 5px #777;
}

.submit:hover {background-color: #cf0000}

.submit:active {
  background-color: #cf0000;
  box-shadow: 0 0px #666;
  transform: translateY(5px);
}