.commentarea {
    background-color: #dddddd;
    color: #2a2a2a;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: solid;
    font-size: 16px;
    width: 750px;
    height: 165px;
    font-family: Geneva, Segoe UI, Verdana, sans-serif;
}