/* Unselected node color: #777 */

.table {
    height: 300px;
    width: 1450px;
    margin-left: 75px;
}

.node-cone {
    height: 50px;
    width: 50px;
    background-color: #777;
    border-color: #777;
    padding: 11%;
    border-radius: 100%;
    border-style: double;
    align-items: center;
}

.node-cube {
    height: 50px;
    width: 50px;
    background-color: #777;
    border-color: #777;
    padding: 11%;
    border-radius: 20%;
    border-style: double;
    align-items: center;
}

.node-hybrid {
    height: 50px;
    width: 50px;
    background-color: #777;
    padding: 11%;
    border-radius: 20%;
    border-style: none;
    align-items: center;
}

.auto {
    display: none;
}

.tele {
    
}

.next {
    height: 50px;
    width: 200px;
    margin: auto;
    background-color: #ff0000; /* Red */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 5px #777;
    transform: translate(1270px, -120px);
}

.next span {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 28px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.next:hover {background-color: #cf0000}

.next:active {
    background-color: #cf0000;
    box-shadow: 0 0px #666;
    transform: translate(1270px, -115px);
}

.next span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.next:hover span {
    padding-right: 25px;
}

.next:hover span:after {
    opacity: 1;
    right: 0;
}

.button_red {
    height: 50px;
    width: 200px;
    background-color: #ff0000; /* Red */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 5px #777;
}

.button_red:hover {background-color: #cf0000}

.button_red:active {
  background-color: #cf0000;
  box-shadow: 0 0px #666;
  transform: translateY(5px);
}

.pickup_button {
    height: 100px;
    width: 100px;
    background-size: contain;
}

.platform-select {
    margin-left: 4px;
}

.charge {
    position: absolute;
    transform: translateY(-350px);
    margin-left: 430px;
    text-align: center;
}

.charge label {
    position: relative;
}

.charge label input {
    display: none;
}

.charge label input:checked ~ span{
    background-color: #999;
    border: 5px solid #ffa600;
    box-shadow: 0 0px #666;
    transform: translateY(10px);
}

.charge label span {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 24px;
}

.left {
    width: 200px;
    height: 100px;
    line-height: 100px;
    background: #ff0000;
    color: white;
    border: 5px solid #ff0000;
    text-align: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 10px #777;
}
.left:hover {background-color: #cf0000;}

.mid {
    width: 200px;
    height: 100px;
    line-height: 100px;
    background: #ff0000;
    color: white;
    border: 5px solid #ff0000;
    text-align: center;
    box-shadow: 0 10px #777;
}
.mid:hover {background-color: #cf0000;}

.right {
    width: 200px;
    height: 100px;
    line-height: 100px;
    background: #ff0000;
    color: white;
    border: 5px solid #ff0000;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 10px #777;
}
.right:hover {background-color: #cf0000;}
