/* navitem for a element */
a.navitem {
    font-size: 24pt;
    margin-right: 8%;
    margin-left: 8%;
    text-decoration: none;
}

a.navitem.light-theme {
    color: #111111
}

a.navitem.dark-theme {
    color:#ffffff;
}

/* header element locked to top of the screen */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 10%;
}


/* themes for header element */
header.light-theme {
    background-color: #c7c7c7;
}

header.dark-theme {
    background-color: #383838;
}

/* toggle theme button */
#toggle_darkmode {
    float:right;
    margin-right: 5%;
}

/* Content in page under the nav bar */
.under-nav {
    margin-top: 6.5%;
    width: 100%;
}