/* Unselected node color: #777 */

.node-cone {
    background-color: #777;
    border-color: #777;
    padding: 11%;
    border-radius: 100%;
    border-style: double;
}

.node-cube {
    background-color: #777;
    border-color: #777;
    padding: 11%;
    border-radius: 5%;
    border-style: double;
}

.node-hybrid {
    background-color: #777;
    padding: 11%;
    border-radius: 10%;
    border-style: none;
}

.dropped {
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(255, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
  }
  
.dropped1:hover {
    background-color: #4CAF50;
    color: white;
  }

.platform-select {
    margin-left: 4%;
}