/* Unselected node color: #777 */

.node-cone {
    background-color: #777;
    border-color: #777;
    padding: 11%;
    border-radius: 100%;
    border-style: double;
}

.node-cube {
    background-color: #777;
    border-color: #777;
    padding: 11%;
    border-radius: 5%;
    border-style: double;
}

.node-hybrid {
    background-color: #777;
    padding: 11%;
    border-radius: 10%;
    border-style: none;
}

.button_red {
    background-color: #ff0000; /* Red */
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
    box-shadow: 0 5px #777;
}

.button_red:hover {background-color: #cf0000}

.button_red:active {
  background-color: #cf0000;
  box-shadow: 0 0px #666;
  transform: translateY(5px);
}

.platform-select {
    margin-left: 4%;
}