{% extends "base.html" %}

{% block title %}
4541 Scouting App | Select Competition
{% endblock %}

{% block contents %}
<h1>Select Scouting App Competition</h1>
<div style="margin-left: 1%;">
    <ul style="list-style: none;">
        <li>
            <a class="light-theme" href="/comps/2023/home.html">2023: Charged Up</a>
        </li>
        <li>
            <a class="light-theme" href="/comps/2023pit/pit.html">2023: Pit Scouting</a>
        </li>
    </ul>
</div>
{% endblock %}