{% extends "base.html" %}
{% block title %}4541 Scouting App | 2023{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2023/css/auto.css">
{% endblock %}
{% block scripts %}
<script src="/static/2023/js/auto.js"></script>
{% endblock %}
{% block contents %}
<div>
    <div class="auto">
        <h1>Pre-Match</h1>
        <div class="start">
            <h2>Starting Piece</h2>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label>
                                <input type="radio" id="startNone" name="start" value="startNone" checked>
                                <span class="none">
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="radio" id="startCube" name="start" value="startCube">
                                <span class="cube">
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="radio" id="startCone" name="start" value="startCone">
                                <span class="cone">
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="layout">
            <h2>Piece Layout</h2>
            <table>
                <tbody>
                    <tr>
                        <td><button class="node-hybrid"></button></td>
                        <td><button class="node-hybrid"></button></td>
                        <td><button class="node-hybrid"></button></td>
                        <td><button class="node-hybrid"></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="charge">
        <h2>Charge Station</h2>
        <label>
            <input type="radio" id="chargeOff" name="station" value="off" checked>
            <span class="left">Off</span>
        </label>
        <label>
            <input type="radio" id="chargeDocked" name="station" value="docked">
            <span class="mid">Docked</span>
        </label>
        <label>
            <input type="radio" id="chargeEngaged" name="station" value="engaged">
            <span class="right">Engaged</span>
        </label>
    </div>
    <div class="next_container">
      <button class="next" id="nextButton">
          <span>Next</span>
      </button>
    </div>
</div> 

{% endblock %}