{% extends "base.html" %}
{% block title %}4541 Scouting App | 2023{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2023/css/home.css">
{% endblock %}
{% block scripts %}
<script src="/static/2023/js/home.js"></script>
{% endblock %}
{% block contents %}
<div>
    <form id="submitForm">
        <table class="table">
            <tr>
                <td><label for="matchNumber">Match Number:&emsp;</label></td>
                <td><input name="matchNumber" type="number" /></td>
            </tr>
            <tr>
                <td><label for="teamNumber">Team Number:&emsp;</label></td>
                <td><input name="teamNumber" type="number" /></td>
            </tr>
            <tr>
                <td><label for="scouterName">Scouter:&emsp;</label></td>
                <td><input name="scouterName" autocomplete="off" /></td>
            </tr>
        </table>
        <button class="submit" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
