{% extends "base.html" %}
{% block title %}4541 Scouting App | 2023{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2023/css/home.css">
{% endblock %}
{% block scripts %}
<script src="/static/2023/js/home.js"></script>
<script src="/static/2023/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div class="content">
    <form id="submitForm">
        <table class="table" autocomplete="off">
            <tr>
                <td><label for="matchNumber">Match Number:&emsp;</label></td>
                <td><input class="input" name="matchNumber" type="number" /></td>
            </tr>
            <tr>
                <td><label for="teamNumber">Team Number:&emsp;</label></td>
                <td><input class="input" name="teamNumber" type="number" /></td>
            </tr>
            <tr>
                <td><label for="scouterName">Scouter:&emsp;</label></td>
                <td class="select">
                    <select class="input" id="name" name="scouterName">
                        <option value="placeholder">Pick Your Name</option>
                        {% if names %}
                        {% for name in names %}
                        <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </td>
            </tr>
        </table>
        <button class="submit" type="submit">Next</button>
        <button class="submit" type="button" onclick="localStorage.clear(); location.reload();">Reset</button>
    </form>
</div>
{% endblock %}
