{% extends "base.html" %}
{% block title %}4541 Scouting App | 2023{% endblock %}
{% block contents %}
<div style="align-content: center; text-align: center;">
    <form id="submitForm">
        <table style="width: 100%; border-style: none;">
            <tr>
                <td><label for="matchNumber">Match Number:&emsp;</label></td>
                <td><input name="matchNumber" type="number" /></td>
            </tr>
            <tr>
                <td><label for="teamNumber">Team Number:&emsp;</label></td>
                <td><input name="teamNumber" type="number" /></td>
            </tr>
            <tr>
                <td><label for="scouterName">Scouter:&emsp;</label></td>
                <td><input name="scouterName" /></td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}