{% extends "base.html" %}
{% block title %}4541 Scouting App | 2023{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2023/css/prematch.css">
{% endblock %}
{% block scripts %}
<script src="/static/2023/js/prematch.js"></script>
<script src="/static/2023/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div>
    <div class="auto">
        <h1>Pre-Match</h1>
        <div class="start">
            <h2>Starting Piece</h2>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label>
                                <input type="radio" id="startNone" name="startPiece" value="startNone" checked>
                                <span class="none">
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="radio" id="startCube" name="startPiece" value="startCube">
                                <span class="cube">
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="radio" id="startCone" name="startPiece" value="startCone">
                                <span class="cone">
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="layout">
            <h2>Piece Layout</h2>
            <table>
                <tbody>
                    <tr>
                        <td><button class="node-hybrid"></button></td>
                        <td><button class="node-hybrid"></button></td>
                        <td><button class="node-hybrid"></button></td>
                        <td><button class="node-hybrid"></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="roboPos">
            <h2>Robot Location</h2>
            <label>
                <input type="radio" id="roboLeft" name="roboPos" value="left">
                <span></span>
            </label>
            <label>
                <input type="radio" id="roboMid" name="roboPos" value="mid" checked>
                <span></span>
            </label>
            <label>
                <input type="radio" id="roboRight" name="roboPos" value="right">
                <span></span>
            </label>
        </div>
    </div>
    <div class="next_container">
        <button class="next" id="nextButton">
            <span>Next</span>
        </button>
    </div>
</div> 

{% endblock %}