{% extends "base.html" %}
{% block title %}4541 Scouting App | 2023{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2023/css/scout.css" />
{% endblock %}
{% block scripts %}
<script src="/static/2023/js/scout.js"></script>
<script src="/static/2023/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div>
    <table class="table">
        <tbody>
            <tr>
                <td><button class="node-cone"></button></td>
                <td><button class="node-cube"></button></td>
                <td><button class="node-cone"></button></td>
                <td><button class="node-cone"></button></td>
                <td><button class="node-cube"></button></td>
                <td><button class="node-cone"></button></td>
                <td><button class="node-cone"></button></td>
                <td><button class="node-cube"></button></td>
                <td><button class="node-cone"></button></td>
            </tr>
            <tr>
                <td><button class="node-cone"></button></td>
                <td><button class="node-cube"></button></td>
                <td><button class="node-cone"></button></td>
                <td><button class="node-cone"></button></td>
                <td><button class="node-cube"></button></td>
                <td><button class="node-cone"></button></td>
                <td><button class="node-cone"></button></td>
                <td><button class="node-cube"></button></td>
                <td><button class="node-cone"></button></td>
            </tr>
            <tr>
                <td><button class="node-hybrid"></button></td>
                <td><button class="node-hybrid"></button></td>
                <td><button class="node-hybrid"></button></td>
                <td><button class="node-hybrid"></button></td>
                <td><button class="node-hybrid"></button></td>
                <td><button class="node-hybrid"></button></td>
                <td><button class="node-hybrid"></button></td>
                <td><button class="node-hybrid"></button></td>
                <td><button class="node-hybrid"></button></td>
            </tr>
        </tbody>
    </table>
    <div class="auto" style="margin-top: 10%; width: 100%; text-align: center;">
        <label>
            <button class="button_yellow" id="pickUpAuto">Picked Up from Ground</button>
        </label>
        <label>
            <button class="button_yellow" id="pickedUpShelfAuto">Picked Up from Shelf</button>
        </label>
        <label>
            <button class="button_black" id="dropPieceAuto">Game Piece Dropped</button>
        </label>
        <label>
            <button class="button_black" id="passesMidLineAuto">Exited Community</button>
        </label>
        <div style="margin-top: 10%; width: 100%; text-align: center;">
            <div class="charge">
                <h2>Charge Station</h2>
                <label>
                    <input type="radio" id="chargeOffAuto" name="stationAuto" value="off" checked>
                    <span class="left">Off</span>
                </label>
                <label>
                    <input type="radio" id="chargeDockedAuto" name="stationAuto" value="docked">
                    <span class="mid">Docked</span>
                </label>
                <label>
                    <input type="radio" id="chargeEngagedAuto" name="stationAuto" value="engaged">
                    <span class="right">Engaged</span>
                </label>
            </div>
        </div>
        <div>
            <button class="next" id="endAuto">
                <span>End Auto</span>
            </button>
        </div>
    </div>
    <div class="tele" style="margin-top: 10%; width: 100%; text-align: center;">
        <label>
            <button class="button_red" id="pickedUpGround">Picked Up Piece</button>
        </label>
        <label>
            <button class="button_red" id="pickedUpShelf">Picked Up from Shelf</button>
        </label>
        <label>
            <button class="button_red" id="dropPiece">Game Piece Dropped</button>
        </label>
        <label>
            <button class="button_red" id="markDefense">Bot Played Defense</button>
        </label>
        <div style="margin-top: 10%; width: 100%; text-align: center;">
            <div class="charge">
                <h2>Charge Station</h2>
                <label>
                    <input type="radio" id="chargeOff" name="stationTele" value="off" checked>
                    <span class="left">Off</span>
                </label>
                <label>
                    <input type="radio" id="chargeDocked" name="stationTele" value="docked">
                    <span class="mid">Docked</span>
                </label>
                <label>
                    <input type="radio" id="chargeEngaged" name="stationTele" value="engaged">
                    <span class="right">Engaged</span>
                </label>
            </div>
        </div>
        <div class="next_container">
            <button class="next" id="nextButton">
                <span>Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}